.pagination-previous{
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    border: 1px solid black;
    margin-bottom: 10px;

}
.pagination-next{
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-weight: 400;
    padding-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.pagination-previous:hover{
    text-decoration: none;
    color:aqua
}
.pagination-next:hover{
    text-decoration: none;
    color:aqua
}
.pagination-list{
    display: flex;
    text-decoration: none;
}
.pagination-list li a{
    color: black;
    margin-right: 20px;
    font-size: 26px;
    font-weight: 400px;

}
.pagination-list li a:hover{
    text-decoration: none;
    color: aqua;
}
.pagination-ellipsis{
    margin-right: 20px;
    font-size: 26px;
    font-weight: 400px;
}